<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SysUsersMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.SysUsers" >
    <id column="user_ky" property="userKy" jdbcType="BIGINT" />
    <result column="login_id" property="loginId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="registertime" property="registertime" jdbcType="TIMESTAMP" />
    <result column="lastloginip" property="lastloginip" jdbcType="VARCHAR" />
    <result column="fail_login_num" property="failLoginNum" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="csid" property="csid" jdbcType="BIGINT" />
    <result column="job_id" property="jobId" jdbcType="BIGINT" />
    <result column="recommCodes" property="recommcodes" jdbcType="VARCHAR" />
    <result column="manage_flag" property="manageFlag" jdbcType="INTEGER" />
    <result column="manage_parents" property="manageParents" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_ky, login_id, password, registertime, lastloginip, fail_login_num, status, name, 
    dept_id, mobile, phone, email, address, csid, job_id, recommCodes, manage_flag, manage_parents
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.SysUsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where user_ky = #{userKy,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_users
    where user_ky = #{userKy,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.SysUsersExample" >
    delete from sys_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.SysUsers" >
    insert into sys_users (user_ky, login_id, password, 
      registertime, lastloginip, fail_login_num, 
      status, name, dept_id, 
      mobile, phone, email, 
      address, csid, job_id, 
      recommCodes, manage_flag, manage_parents
      )
    values (#{userKy,jdbcType=BIGINT}, #{loginId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{registertime,jdbcType=TIMESTAMP}, #{lastloginip,jdbcType=VARCHAR}, #{failLoginNum,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{csid,jdbcType=BIGINT}, #{jobId,jdbcType=BIGINT}, 
      #{recommcodes,jdbcType=VARCHAR}, #{manageFlag,jdbcType=INTEGER}, #{manageParents,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.SysUsers" >
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userKy != null" >
        user_ky,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="registertime != null" >
        registertime,
      </if>
      <if test="lastloginip != null" >
        lastloginip,
      </if>
      <if test="failLoginNum != null" >
        fail_login_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="csid != null" >
        csid,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="recommcodes != null" >
        recommCodes,
      </if>
      <if test="manageFlag != null" >
        manage_flag,
      </if>
      <if test="manageParents != null" >
        manage_parents,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userKy != null" >
        #{userKy,jdbcType=BIGINT},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginip != null" >
        #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="failLoginNum != null" >
        #{failLoginNum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="csid != null" >
        #{csid,jdbcType=BIGINT},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=BIGINT},
      </if>
      <if test="recommcodes != null" >
        #{recommcodes,jdbcType=VARCHAR},
      </if>
      <if test="manageFlag != null" >
        #{manageFlag,jdbcType=INTEGER},
      </if>
      <if test="manageParents != null" >
        #{manageParents,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.SysUsersExample" resultType="java.lang.Integer" >
    select count(*) from sys_users
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_users
    <set >
      <if test="record.userKy != null" >
        user_ky = #{record.userKy,jdbcType=BIGINT},
      </if>
      <if test="record.loginId != null" >
        login_id = #{record.loginId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.registertime != null" >
        registertime = #{record.registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastloginip != null" >
        lastloginip = #{record.lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="record.failLoginNum != null" >
        fail_login_num = #{record.failLoginNum,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.csid != null" >
        csid = #{record.csid,jdbcType=BIGINT},
      </if>
      <if test="record.jobId != null" >
        job_id = #{record.jobId,jdbcType=BIGINT},
      </if>
      <if test="record.recommcodes != null" >
        recommCodes = #{record.recommcodes,jdbcType=VARCHAR},
      </if>
      <if test="record.manageFlag != null" >
        manage_flag = #{record.manageFlag,jdbcType=INTEGER},
      </if>
      <if test="record.manageParents != null" >
        manage_parents = #{record.manageParents,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_users
    set user_ky = #{record.userKy,jdbcType=BIGINT},
      login_id = #{record.loginId,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      registertime = #{record.registertime,jdbcType=TIMESTAMP},
      lastloginip = #{record.lastloginip,jdbcType=VARCHAR},
      fail_login_num = #{record.failLoginNum,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=DECIMAL},
      name = #{record.name,jdbcType=VARCHAR},
      dept_id = #{record.deptId,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      csid = #{record.csid,jdbcType=BIGINT},
      job_id = #{record.jobId,jdbcType=BIGINT},
      recommCodes = #{record.recommcodes,jdbcType=VARCHAR},
      manage_flag = #{record.manageFlag,jdbcType=INTEGER},
      manage_parents = #{record.manageParents,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.SysUsers" >
    update sys_users
    <set >
      <if test="loginId != null" >
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        registertime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginip != null" >
        lastloginip = #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="failLoginNum != null" >
        fail_login_num = #{failLoginNum,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="csid != null" >
        csid = #{csid,jdbcType=BIGINT},
      </if>
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=BIGINT},
      </if>
      <if test="recommcodes != null" >
        recommCodes = #{recommcodes,jdbcType=VARCHAR},
      </if>
      <if test="manageFlag != null" >
        manage_flag = #{manageFlag,jdbcType=INTEGER},
      </if>
      <if test="manageParents != null" >
        manage_parents = #{manageParents,jdbcType=BIGINT},
      </if>
    </set>
    where user_ky = #{userKy,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.SysUsers" >
    update sys_users
    set login_id = #{loginId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      registertime = #{registertime,jdbcType=TIMESTAMP},
      lastloginip = #{lastloginip,jdbcType=VARCHAR},
      fail_login_num = #{failLoginNum,jdbcType=DECIMAL},
      status = #{status,jdbcType=DECIMAL},
      name = #{name,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      csid = #{csid,jdbcType=BIGINT},
      job_id = #{jobId,jdbcType=BIGINT},
      recommCodes = #{recommcodes,jdbcType=VARCHAR},
      manage_flag = #{manageFlag,jdbcType=INTEGER},
      manage_parents = #{manageParents,jdbcType=BIGINT}
    where user_ky = #{userKy,jdbcType=BIGINT}
  </update>
</mapper>